@import "../../Foundation/res/foundation";

$this: '.chip';
$chips: '.chips';

#{$chips} {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  z-index: -2;
}

#{$this} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  height: 30px;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  position: relative;

  @include white-bg-underlay(4px);

  &__icon {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      font-size: 11px;
      line-height: 100%;
    }
  }

  &__value {
    &:before {
      content: ": ";
      margin-left: 5px;
    }
  }

  &__action {
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: -4px;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;

    & > * {
      font-size: 11px;
      line-height: 100%;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  &--round {
    border-radius: 20px;
    padding: 0 10px;

    #{$this}__action {
      margin-right: -6px;
    }

    &:before, &:after {
      border-radius: 20px;
    }
  }
}
