@mixin tabs {
  .tab__label {
    border: 1px solid transparent;
    border-bottom-width: 2px;
    margin-bottom: -1px;
    padding: 4px;
    flex-grow: 1;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
  }

  a.tab__label {
    text-decoration: none;
  }

  .tab__label--active {
    --f-text-color: var(--f-color-primary);
    --text-opacity: 1;
  }

  .tabs__menu--placement-t .tab__label--active {
    border-bottom-color: rgba(var(--f-color-primary-light), 1);

  }

  .tabs__menu--placement-b .tab__label--active {
    border-top-color: rgba(var(--f-color-primary-light), 1);
  }

  .tabs__menu {
    display: flex;
    flex-direction: column;
  }

  .tabs__menu-items {
    display: flex;
  }

  .tabs__container {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .tab {
    display: none;
  }

  .tab.tab--active {
    display: block;
  }
}
