$colors: (
  red: "192, 57, 43",
  orange: "230, 126, 34",
  yellow: "241, 196, 15",
  green: "19, 149, 67",
  sky: "52, 152, 219",
  blue: "41, 128, 185",
  indigo: "110, 92, 182",
  pink: "142, 68, 173",
  grey: "189, 195, 199",
  dark-grey: "102, 102, 102",
  black: "30, 30, 30",
  white: "255, 255, 255",
);


:root, :host {
  @each $color, $rgb in $colors {
    --color-#{''+$color}: #{$rgb};
  }
}

@each $color, $rgb in $colors {

  .c-#{''+$color} {
    --f-text-color: var(--color-#{''+$color});
    color: #{'rgb(var(--f-text-color))'};
  }

  .bgc-#{''+$color} {
    --f-background-color: var(--color-#{''+$color});
    background-color: #{'rgba(var(--f-background-color), 0.1)'};
  }

  .bgc-sld-#{''+$color} {
    --f-background-color: var(--color-#{''+$color});
    background-color: #{'rgba(var(--f-background-color), 1)'};
  }

  .brdrc-#{''+$color} {
    --f-border-color: var(--color-#{''+$color});
    border-color: #{'rgba(var(--f-border-color), 0.5)'};
  }
  .brdrc-sld-#{''+$color} {
    --f-border-color: var(--color-#{''+$color});
    border-color: #{'rgba(var(--f-border-color), 1)'};
  }
}

