$colors: (
  red: "192, 57, 43",
  orange: "230, 126, 34",
  yellow: "241, 196, 15",
  green: "19, 149, 67",
  sky: "52, 152, 219",
  blue: "41, 128, 185",
  indigo: "110, 92, 182",
  pink: "142, 68, 173",
  grey: "189, 195, 199",
  black: "51, 51, 51",
  white: "255, 255, 255",
);

@mixin color {

  :root {
    @each $color, $rgb in $colors {
      --color-#{''+$color}: #{$rgb};
    }
  }

  @each $color, $rgb in $colors {

    .c-#{''+$color} {
      color: #{'rgb(var(--color-#{''+$color}))'};
      --f-text-color: var(--color-#{''+$color});
    }

    .bgc-#{''+$color} {
      background-color: #{'rgba(var(--color-#{''+$color}), 0.1)'};
    }

    .bgc-sld-#{''+$color} {
      background-color: #{'rgba(var(--color-#{''+$color}), 1)'};
    }

    .brdrc-#{''+$color} {
      border-color: #{'rgba(var(--color-#{''+$color}), 0.5)'};
    }
    .brdrc-sld-#{''+$color} {
      border-color: #{'rgba(var(--color-#{''+$color}), 1)'};
    }
  }

}
