$colors: (
  red: "192, 57, 43",
  orange: "230, 126, 34",
  yellow: "241, 196, 15",
  green: "19, 149, 67",
  sky: "52, 152, 219",
  blue: "10, 10, 220",
  indigo: "60, 10, 180",
  purple: "142, 68, 173",
  pink: "255, 192, 203",
  grey: "189, 195, 199",
  dark-grey: "102, 102, 102",
  black: "30, 30, 30",
  white: "255, 255, 255",
);


:root, :host {
  @each $color, $rgb in $colors {
    --color-#{''+$color}: #{$rgb};
  }
}

@each $color, $rgb in $colors {

  .c-#{''+$color} {
    --f-text-color: var(--color-#{''+$color});
    color: #{'rgb(var(--f-text-color))'};
  }

  .bgc-#{''+$color} {
    --f-background-color: var(--color-#{''+$color});
    background-color: #{'rgba(var(--f-background-color), 0.1)'};
  }

  .bgc-sld-#{''+$color} {
    --f-background-color: var(--color-#{''+$color});
    background-color: #{'rgba(var(--f-background-color), 1)'};
  }

  .brdrc-#{''+$color} {
    --f-border-color: var(--color-#{''+$color});
    border-color: #{'rgba(var(--f-border-color), 0.5)'};
  }
  .brdrc-sld-#{''+$color} {
    --f-border-color: var(--color-#{''+$color});
    border-color: #{'rgba(var(--f-border-color), 1)'};
  }
}

.c-checkered {
}

.brdrc-checkered {
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.5);
}

.brdrc-sld-checkered {
  border-style: dashed;
  border-color: rgba(0, 0, 0, 1);
}

.bgc-checkered {
  background: repeating-conic-gradient(rgba(0, 0, 0, 0.07) 0% 25%, transparent 0% 50%) 50% / 20px 20px
}

.bgc-sld-checkered {
  background: repeating-conic-gradient(rgba(0, 0, 0, 0.7) 0% 25%, transparent 0% 50%) 50% / 20px 20px
}
