@import "../../Foundation/res/foundation";

$this: '.toast-notification-container';
$toast-message: '.toast-notification';


#{$this} {
  position: fixed;
  top: 25%;
  right: 0;
  width: auto;
  z-index: 2561230;
  pointer-events: none;

  #{$toast-message} {
    opacity: 0;
    box-sizing: border-box;
    animation: paused fade-out 0.5s both;

    --position-hide: translateX(100%);
    --position-show: translateX(0%);

    &--show {
      animation: running slide-in 0.5s both;
    }
  }

  &--bottom-left {
    bottom: 20px;
    top: unset;
    left: calc(var(--drawer-width) + 20px);
    right: unset;

    #{$toast-message} {
      --position-hide: translateY(400%);
      --position-show: translateY(0%);
    }
  }

  &--bottom-right {
    bottom: 20px;
    top: unset;
    right: 20px;
    left: unset;

    #{$toast-message} {
      --position-hide: translateY(400%);
      --position-show: translateY(0%);
    }
  }
}

@keyframes slide-in {
  0% {
    transform: var(--position-hide);
    opacity: 1;
  }
  100% {
    transform: var(--position-show);
    opacity: 1;
  }
}

@keyframes fade-out {
  1% {
    transform: var(--position-show);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
