$this: '.toast-notification';


#{$this} {
  color: #62686F;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
  pointer-events: all;
  display: flex;
  position: relative;
  overflow: hidden;
  background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8)), rgba(var(--f-background-color), 0.8);

  &:last-of-type {
    margin-bottom: 0;
  }

  &__icon {
    font-size: 35px;
    line-height: 0;
    padding: 0 15px;
    justify-content: center;
    align-self: center;
    color: rgba(var(--f-text-color), var(--text-opacity));
  }

  &__content {
    flex-direction: column;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 5px;
    color: rgba(var(--f-text-color), var(--text-opacity));
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    color: rgba(var(--f-text-color), var(--text-opacity));
  }

  &--with-color {
    border-style: solid;
    border-width: 1px;
  }

  &--removable {
    cursor: pointer;
  }
}
