@import "../../Foundation/res/foundation";

$this: '.toast-notification-container';
$toast-message: '.toast-notification';


#{$this} {
  position: fixed;
  top: 25%;
  right: 0;
  width: auto;
  z-index: 2561230;
  pointer-events: none;

  #{$toast-message} {
    opacity: 0;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: opacity .5s ease-in-out, transform 0s ease-in-out .5s;
  }

  &--bottom-left {
    bottom: 20px;
    top: unset;
    left: calc(var(--drawer-width) + 20px);
    right: unset;

    #{$toast-message} {
      transform: translateY(400%);
    }
  }

  &--bottom-right {
    bottom: 20px;
    top: unset;
    right: 20px;
    left: unset;

    #{$toast-message} {
      transform: translateY(400%);
    }
  }

  #{$toast-message} {
    &--show {
      transition: transform .5s ease-in-out 0s;
      transform: unset;
      opacity: 1;
    }
  }
}
