@import "../../Foundation/res/foundation";
@import '~microtip/microtip';

$this: '.tooltip';

#{$this} {
  cursor: pointer;
  display: inline-block;
}

[aria-label][role~="tooltip"]::before,
[aria-label][role~="tooltip"]::after {
  z-index: 100;
  text-align: center;
}
