body {
  --drawer-open-width: 256px;
  --drawer-narrow-width: 56px;
  --drawer-background-color: var(--f-content-background-color);
  --drawer-top-offset: 0;
  --drawer-handle-width: 20px;
}

body.f-loaded {
  --drawer-transition-style: 300ms ease-in-out;
}

.drawer {
  position: fixed;
  left: 0;
  top: var(--drawer-top-offset);
  bottom: 0;
  width: var(--drawer-width, 0);

  z-index: 999;

  overflow: hidden;

  transition: width var(--drawer-transition-style);
  background-color: rgb(var(--drawer-background-color));

  border-color: rgba(0, 0, 0, .12);
  border-right-width: 1px;
  border-right-style: solid;

  text-align: left;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.drawer[position="right"] {
  left: initial;
  right: 0;
}

body:not(.touch-enabled) .drawer[reveal="peek"]:hover::before {
  display: block;
}

/** .drawer::before is overlap to allow you to leave slightly **/
.drawer[reveal="peek"]::before {
  display: none;
  content: ' ';
  position: fixed;
  left: var(--drawer-open-width, 0);
  top: 0;
  bottom: 0;
  width: var(--drawer-handle-width);
}

.drawer__content {
  height: 100%;
  overflow-y: auto;
}

.drawer__header {
  min-height: 64px;
  padding: 16px 16px 4px 16px;
}

.drawer__footer {
  padding: 8px;
  flex-shrink: 0;
}

.drawer__content, .drawer__header, .drawer__footer {
  box-sizing: border-box;
  position: relative;
}

.drawer-app-content {
  top: var(--drawer-top-offset);
  transition: margin-left var(--drawer-transition-style), margin-right var(--drawer-transition-style);
  box-sizing: border-box;
}

.drawer-container.drawer--open > .drawer {
  --drawer-width: var(--drawer-open-width);
}

.drawer__header, .drawer__content {
  width: var(--drawer-open-width);
}

.drawer__toggle {
  user-select: none;
}

.drawer-container.drawer--open > .drawer[reveal="modal"] + .drawer-app-content::before {
  opacity: 1;
  pointer-events: all;
}

.drawer-app-content::before {
  content: ' ';
  pointer-events: none;
  position: fixed;
  top: var(--drawer-top-offset);
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity var(--drawer-transition-style);
}


/** MOBILE */
@media (max-width: 512px) {
  .drawer_action--hide-mobile {
    display: none !important;
  }

  .drawer-container.drawer--open > .drawer + .drawer-app-content::before {
    opacity: 1;
    pointer-events: all;
  }

  .drawer-container:not(.drawer--open) > .drawer {
    border-right-width: 0;
  }
}


/** NOT MOBILE */
@media (min-width: 512px) {
  .drawer_action--hide-non-mobile {
    display: none !important;
  }

  .drawer[state="narrow"] {
    min-width: var(--drawer-narrow-width);
  }


  .drawer[state="narrow"][position="left"] + .drawer-app-content {
    margin-left: var(--drawer-narrow-width);
  }

  .drawer[state="narrow"][position="right"] + .drawer-app-content {
    margin-right: var(--drawer-narrow-width);
  }

  body:not(.touch-enabled) .drawer[state="narrow"][reveal="peek"]:hover,
  .drawer-container.drawer--open > .drawer[state="permanent"] {
    width: var(--drawer-open-width);
  }

  .drawer-container.drawer--open > .drawer[position="left"][state="permanent"] + .drawer-app-content,
  .drawer-container.drawer--open > .drawer[position="left"][state="narrow"]:not([reveal="modal"]) + .drawer-app-content {
    margin-left: var(--drawer-open-width);
  }

  .drawer-container.drawer--open > .drawer[position="right"][state="permanent"] + .drawer-app-content,
  .drawer-container.drawer--open > .drawer[position="right"][state="narrow"]:not([reveal="modal"]) + .drawer-app-content {
    margin-right: var(--drawer-open-width);
  }
}

.drawer-container:not(.drawer--open) > .drawer[min-state="narrow"] {
  border-right-width: 1px;
  --drawer-width: var(--drawer-narrow-width);
}

.drawer[min-state="narrow"][position="left"] + .drawer-app-content {
  margin-left: var(--drawer-narrow-width);
}

.drawer[min-state="narrow"][position="right"] + .drawer-app-content {
  margin-right: var(--drawer-narrow-width);
}
