.toggle-button {
  cursor: pointer;
}

.toggle-button .toggle-button__checkbox {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.toggle-button .toggle-button__unchecked-content,
.toggle-button .toggle-button__checked-content {
  display: inherit;
}

@supports (display: contents) {
  .toggle-button .toggle-button__unchecked-content,
  .toggle-button .toggle-button__checked-content {
    display: contents;
  }
}

.toggle-button[checked] .toggle-button__unchecked-content {
  display: none;
}

.toggle-button:not([checked]) .toggle-button__checked-content {
  display: none;
}
