.toggle-input {
  cursor: pointer;
}

.toggle-input > .toggle-input__checkbox {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.toggle-input > .toggle-input__unchecked-content,
.toggle-input > .toggle-input__checked-content {
  display: inherit;
}

@supports (display: contents) {
  .toggle-input > .toggle-input__unchecked-content,
  .toggle-input > .toggle-input__checked-content {
    display: contents;
  }
}

.toggle-input[checked] > .toggle-input__unchecked-content {
  display: none;
}

.toggle-input:not([checked]) > .toggle-input__checked-content {
  display: none;
}
