.list-box {
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  height: 48px;
  box-sizing: border-box;
}

.list-item:hover {
  background-color: rgb(var(--f-lighter-color));
}

.list-item--active {
  background-color: rgba(var(--f-color-primary), 0.1);
  --f-text-color: var(--f-color-primary);
  --text-opacity: 1;
}

.list-item--active:hover {
  background-color: rgba(var(--f-color-primary), 0.2);
}

@media (prefers-color-scheme: dark) {
  .list-item:hover {
    background-color: rgba(var(--f-lighter-color), 0.2);
  }

  .list-item--active {
    --f-text-color: var(--f-color-primary-light);
  }

  .list-item--active:hover {
    background-color: rgba(var(--f-color-primary-light), 0.2);
  }
}

.list-item + .list-item {
  border-top: none;
}

.list-item--multi {
  height: 72px;
}

.list-item__leading,
.list-item__trailing {
  display: flex;
  flex-direction: row;
  min-width: 56px;
}

.list-item__trailing {
  justify-content: flex-end;
}

.list-item > :first-child {
  padding-left: 16px;
}

.list-item > * {
  padding: 0 16px 0 0;
  box-sizing: border-box;
}

.list-item__text {
  flex-grow: 1;
}

.list-item__secondary {
  --text-opacity: 0.38;
  font-size: 0.9em;
}
