.toggle-button .toggle-button-checkbox {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.toggle-button .unchecked-content,
.toggle-button .checked-content {
  display: inherit;
}

@supports (display: contents) {
  .toggle-button .unchecked-content,
  .toggle-button .checked-content {
    display: contents;
  }
}

.toggle-button[checked] .unchecked-content {
  display: none;
}

.toggle-button:not([checked]) .checked-content {
  display: none;
}
