button.btn--fab, .btn.btn--fab {
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  border-radius: 25px !important;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12) !important;
  background: rgb(var(--f-color-accent));
  color: rgb(var(--f-color-accent-text));
  width: 40px;
  height: 40px;
}

button.btn--fab:hover, .btn.btn--fab:hover {
  transform: scale(1.1);
}
