.toggle-button .btn__toggle-button-checkbox {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.toggle-button .btn__unchecked-content,
.toggle-button .btn__checked-content {
  display: inherit;
}

@supports (display: contents) {
  .toggle-button .btn__unchecked-content,
  .toggle-button .btn__checked-content {
    display: contents;
  }
}

.toggle-button[checked] .btn__unchecked-content {
  display: none;
}

.toggle-button:not([checked]) .btn__checked-content {
  display: none;
}
