.fh {
  height: 100%;
}

.fhm {
  height: 100%;
  min-height: 100%;
}

.dib {
  display: inline-block !important;
}

.db {
  display: block !important;
}

.dn {
  display: none !important;
}

.dt {
  width: 100% !important;
  display: table !important;
}

.dtr {
  display: table-row !important;
}

.dtc {
  display: table-cell !important;
}

.df {
  display: flex !important;
  flex-grow: 0;
  flex-shrink: 0;
}

.df--grow {
  flex-grow: 1;
}

.df--shrink {
  flex-shrink: 1;
}

.df--wrap {
  flex-wrap: wrap;
}

.dif--vc {
  display: inline-flex;
  flex: 0 0;
  align-items: center;
}

.pxl {
  padding: var(--f-spacing-extra-large) !important;
}

.pl {
  padding: var(--f-spacing-large) !important;
}

.pm {
  padding: var(--f-spacing-medium) !important;
}

.ps {
  padding: var(--f-spacing-small) !important;
}

.pxs {
  padding: var(--f-spacing-extra-small) !important;
}

.pn {
  padding: 0 !important;
}

.pxl-l {
  padding-left: var(--f-spacing-extra-large) !important;
}

.pl-l {
  padding-left: var(--f-spacing-large) !important;
}

.pm-l {
  padding-left: var(--f-spacing-medium) !important;
}

.ps-l {
  padding-left: var(--f-spacing-small) !important;
}

.pxs-l {
  padding-left: var(--f-spacing-extra-small) !important;
}

.pn-l {
  padding-left: 0 !important;
}

.pxl-r {
  padding-right: var(--f-spacing-extra-large) !important;
}

.pl-r {
  padding-right: var(--f-spacing-large) !important;
}

.pm-r {
  padding-right: var(--f-spacing-medium) !important;
}

.ps-r {
  padding-right: var(--f-spacing-small) !important;
}

.pxs-r {
  padding-right: var(--f-spacing-extra-small) !important;
}

.pn-r {
  padding-right: 0 !important;
}

.pxl-t {
  padding-top: var(--f-spacing-extra-large) !important;
}

.pl-t {
  padding-top: var(--f-spacing-large) !important;
}

.pm-t {
  padding-top: var(--f-spacing-medium) !important;
}

.ps-t {
  padding-top: var(--f-spacing-small) !important;
}

.pxs-t {
  padding-top: var(--f-spacing-extra-small) !important;
}

.pn-t {
  padding-top: 0 !important;
}

.pxl-b {
  padding-bottom: var(--f-spacing-extra-large) !important;
}

.pl-b {
  padding-bottom: var(--f-spacing-large) !important;
}

.pm-b {
  padding-bottom: var(--f-spacing-medium) !important;
}

.ps-b {
  padding-bottom: var(--f-spacing-small) !important;
}

.pxs-b {
  padding-bottom: var(--f-spacing-extra-small) !important;
}

.pn-b {
  padding-bottom: 0 !important;
}

.mxl {
  margin: var(--f-spacing-extra-large) !important;
}

.ml {
  margin: var(--f-spacing-large) !important;
}

.mm {
  margin: var(--f-spacing-medium) !important;
}

.ms {
  margin: var(--f-spacing-small) !important;
}

.mxs {
  margin: var(--f-spacing-extra-small) !important;
}

.mn {
  margin: 0 !important;
}

.mxl-l {
  margin-left: var(--f-spacing-extra-large) !important;
}

.ml-l {
  margin-left: var(--f-spacing-large) !important;
}

.mm-l {
  margin-left: var(--f-spacing-medium) !important;
}

.ms-l {
  margin-left: var(--f-spacing-small) !important;
}

.mxs-l {
  margin-left: var(--f-spacing-extra-small) !important;
}

.mn-l {
  margin-left: 0 !important;
}

.mxl-r {
  margin-right: var(--f-spacing-extra-large) !important;
}

.ml-r {
  margin-right: var(--f-spacing-large) !important;
}

.mm-r {
  margin-right: var(--f-spacing-medium) !important;
}

.ms-r {
  margin-right: var(--f-spacing-small) !important;
}

.mxs-r {
  margin-right: var(--f-spacing-extra-small) !important;
}

.mn-r {
  margin-right: 0 !important;
}

.mxl-t {
  margin-top: var(--f-spacing-extra-large) !important;
}

.ml-t {
  margin-top: var(--f-spacing-large) !important;
}

.mm-t {
  margin-top: var(--f-spacing-medium) !important;
}

.ms-t {
  margin-top: var(--f-spacing-small) !important;
}

.mxs-t {
  margin-top: var(--f-spacing-extra-small) !important;
}

.mn-t {
  margin-top: 0 !important;
}

.mxl-b {
  margin-bottom: var(--f-spacing-extra-large) !important;
}

.ml-b {
  margin-bottom: var(--f-spacing-large) !important;
}

.mm-b {
  margin-bottom: var(--f-spacing-medium) !important;
}

.ms-b {
  margin-bottom: var(--f-spacing-small) !important;
}

.mxs-b {
  margin-bottom: var(--f-spacing-extra-small) !important;
}

.mn-b {
  margin-bottom: 0 !important;
}

.at {
  vertical-align: top !important;
}

.ab {
  vertical-align: bottom !important;
}

.am {
  vertical-align: middle !important;
}
