.grid {
  --grid-margin-desktop: 24px;
  --grid-gutter-desktop: 24px;
  --grid-column-width-desktop: 72px;
  --grid-margin-tablet: 16px;
  --grid-gutter-tablet: 16px;
  --grid-column-width-tablet: 72px;
  --grid-margin-phone: 16px;
  --grid-gutter-phone: 16px;
  --grid-column-width-phone: 72px;

  --grid-bordered-color: rgb(var(--f-divider-color));
  --grid-bordered-cell-color: rgb(var(--f-content-background-color));
}

.grid__inner {
  width: 100%;
}

@media (min-width: 840px) {
  .grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;
    padding: var(--grid-margin-desktop, 24px);
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px;
    padding: var(--grid-margin-tablet, 16px);
  }
}

@media (max-width: 479px) {
  .grid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px;
    padding: var(--grid-margin-phone, 16px);
  }
}

@media (min-width: 840px) {
  .grid__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--grid-gutter-desktop, 24px) / 2 * -1);
  }

  @supports (display: grid) {
    .grid__inner {
      display: grid;
      margin: 0;
      grid-gap: 24px;
      grid-gap: var(--grid-gutter-desktop, 24px);
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .grid__inner--bordered {
      grid-gap: 1px;
    }

    .grid__inner--bordered .grid__cell {
      padding: 24px;
      padding: var(--grid-gutter-desktop, 24px);
    }
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .grid__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: -8px;
    margin: calc(var(--grid-gutter-tablet, 16px) / 2 * -1);
  }

  @supports (display: grid) {
    .grid__inner {
      display: grid;
      margin: 0;
      grid-gap: 16px;
      grid-gap: var(--grid-gutter-tablet, 16px);
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    .grid__inner--bordered {
      grid-gap: 1px;
    }

    .grid__inner--bordered .grid__cell {
      padding: 16px;
      padding: var(--grid-gutter-desktop, 16px);
    }
  }
}

@media (max-width: 479px) {
  .grid__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: -8px;
    margin: calc(var(--grid-gutter-phone, 16px) / 2 * -1);
  }

  @supports (display: grid) {
    .grid__inner {
      display: grid;
      margin: 0;
      grid-gap: 16px;
      grid-gap: var(--grid-gutter-phone, 16px);
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .grid__inner--bordered {
      grid-gap: 1px;
    }

    .grid__inner--bordered .grid__cell {
      padding: 16px;
      padding: var(--grid-gutter-desktop, 16px);
    }
  }
}

@media (min-width: 840px) {
  .grid__cell {
    width: calc(33.3333333333% - 24px);
    width: calc(33.3333333333% - var(--grid-gutter-desktop, 24px));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--grid-gutter-desktop, 24px) / 2);
  }

  @supports (display: grid) {
    .grid__cell {
      width: auto;
      grid-column-end: span 4;
    }
  }
  @supports (display: grid) {
    .grid__cell {
      margin: 0;
    }
  }
  .grid__cell--span-1,
  .grid__cell--span-1-desktop {
    width: calc(8.3333333333% - 24px);
    width: calc(8.3333333333% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-1,
    .grid__cell--span-1-desktop {
      width: auto;
      grid-column-end: span 1;
    }
  }

  .grid__cell--span-2,
  .grid__cell--span-2-desktop {
    width: calc(16.6666666667% - 24px);
    width: calc(16.6666666667% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-2,
    .grid__cell--span-2-desktop {
      width: auto;
      grid-column-end: span 2;
    }
  }

  .grid__cell--span-3,
  .grid__cell--span-3-desktop {
    width: calc(25% - 24px);
    width: calc(25% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-3,
    .grid__cell--span-3-desktop {
      width: auto;
      grid-column-end: span 3;
    }
  }

  .grid__cell--span-4,
  .grid__cell--span-4-desktop {
    width: calc(33.3333333333% - 24px);
    width: calc(33.3333333333% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-4,
    .grid__cell--span-4-desktop {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-5,
  .grid__cell--span-5-desktop {
    width: calc(41.6666666667% - 24px);
    width: calc(41.6666666667% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-5,
    .grid__cell--span-5-desktop {
      width: auto;
      grid-column-end: span 5;
    }
  }

  .grid__cell--span-6,
  .grid__cell--span-6-desktop {
    width: calc(50% - 24px);
    width: calc(50% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-6,
    .grid__cell--span-6-desktop {
      width: auto;
      grid-column-end: span 6;
    }
  }

  .grid__cell--span-7,
  .grid__cell--span-7-desktop {
    width: calc(58.3333333333% - 24px);
    width: calc(58.3333333333% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-7,
    .grid__cell--span-7-desktop {
      width: auto;
      grid-column-end: span 7;
    }
  }

  .grid__cell--span-8,
  .grid__cell--span-8-desktop {
    width: calc(66.6666666667% - 24px);
    width: calc(66.6666666667% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-8,
    .grid__cell--span-8-desktop {
      width: auto;
      grid-column-end: span 8;
    }
  }

  .grid__cell--span-9,
  .grid__cell--span-9-desktop {
    width: calc(75% - 24px);
    width: calc(75% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-9,
    .grid__cell--span-9-desktop {
      width: auto;
      grid-column-end: span 9;
    }
  }

  .grid__cell--span-10,
  .grid__cell--span-10-desktop {
    width: calc(83.3333333333% - 24px);
    width: calc(83.3333333333% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-10,
    .grid__cell--span-10-desktop {
      width: auto;
      grid-column-end: span 10;
    }
  }

  .grid__cell--span-11,
  .grid__cell--span-11-desktop {
    width: calc(91.6666666667% - 24px);
    width: calc(91.6666666667% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-11,
    .grid__cell--span-11-desktop {
      width: auto;
      grid-column-end: span 11;
    }
  }

  .grid__cell--span-12,
  .grid__cell--span-12-desktop {
    width: calc(100% - 24px);
    width: calc(100% - var(--grid-gutter-desktop, 24px));
  }

  @supports (display: grid) {
    .grid__cell--span-12,
    .grid__cell--span-12-desktop {
      width: auto;
      grid-column-end: span 12;
    }
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .grid__cell {
    width: calc(50% - 16px);
    width: calc(50% - var(--grid-gutter-tablet, 16px));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--grid-gutter-tablet, 16px) / 2);
  }

  @supports (display: grid) {
    .grid__cell {
      width: auto;
      grid-column-end: span 4;
    }
  }
  @supports (display: grid) {
    .grid__cell {
      margin: 0;
    }
  }
  .grid__cell--span-1,
  .grid__cell--span-1-tablet {
    width: calc(12.5% - 16px);
    width: calc(12.5% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-1,
    .grid__cell--span-1-tablet {
      width: auto;
      grid-column-end: span 1;
    }
  }

  .grid__cell--span-2,
  .grid__cell--span-2-tablet {
    width: calc(25% - 16px);
    width: calc(25% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-2,
    .grid__cell--span-2-tablet {
      width: auto;
      grid-column-end: span 2;
    }
  }

  .grid__cell--span-3,
  .grid__cell--span-3-tablet {
    width: calc(37.5% - 16px);
    width: calc(37.5% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-3,
    .grid__cell--span-3-tablet {
      width: auto;
      grid-column-end: span 3;
    }
  }

  .grid__cell--span-4,
  .grid__cell--span-4-tablet {
    width: calc(50% - 16px);
    width: calc(50% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-4,
    .grid__cell--span-4-tablet {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-5,
  .grid__cell--span-5-tablet {
    width: calc(62.5% - 16px);
    width: calc(62.5% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-5,
    .grid__cell--span-5-tablet {
      width: auto;
      grid-column-end: span 5;
    }
  }

  .grid__cell--span-6,
  .grid__cell--span-6-tablet {
    width: calc(75% - 16px);
    width: calc(75% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-6,
    .grid__cell--span-6-tablet {
      width: auto;
      grid-column-end: span 6;
    }
  }

  .grid__cell--span-7,
  .grid__cell--span-7-tablet {
    width: calc(87.5% - 16px);
    width: calc(87.5% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-7,
    .grid__cell--span-7-tablet {
      width: auto;
      grid-column-end: span 7;
    }
  }

  .grid__cell--span-8,
  .grid__cell--span-8-tablet {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-8,
    .grid__cell--span-8-tablet {
      width: auto;
      grid-column-end: span 8;
    }
  }

  .grid__cell--span-9,
  .grid__cell--span-9-tablet {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-9,
    .grid__cell--span-9-tablet {
      width: auto;
      grid-column-end: span 8;
    }
  }

  .grid__cell--span-10,
  .grid__cell--span-10-tablet {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-10,
    .grid__cell--span-10-tablet {
      width: auto;
      grid-column-end: span 8;
    }
  }

  .grid__cell--span-11,
  .grid__cell--span-11-tablet {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-11,
    .grid__cell--span-11-tablet {
      width: auto;
      grid-column-end: span 8;
    }
  }

  .grid__cell--span-12,
  .grid__cell--span-12-tablet {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-tablet, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-12,
    .grid__cell--span-12-tablet {
      width: auto;
      grid-column-end: span 8;
    }
  }
}

@media (max-width: 479px) {
  .grid__cell {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--grid-gutter-phone, 16px) / 2);
  }

  @supports (display: grid) {
    .grid__cell {
      width: auto;
      grid-column-end: span 4;
    }
  }
  @supports (display: grid) {
    .grid__cell {
      margin: 0;
    }
  }
  .grid__cell--span-1,
  .grid__cell--span-1-phone {
    width: calc(25% - 16px);
    width: calc(25% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-1,
    .grid__cell--span-1-phone {
      width: auto;
      grid-column-end: span 1;
    }
  }

  .grid__cell--span-2,
  .grid__cell--span-2-phone {
    width: calc(50% - 16px);
    width: calc(50% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-2,
    .grid__cell--span-2-phone {
      width: auto;
      grid-column-end: span 2;
    }
  }

  .grid__cell--span-3,
  .grid__cell--span-3-phone {
    width: calc(75% - 16px);
    width: calc(75% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-3,
    .grid__cell--span-3-phone {
      width: auto;
      grid-column-end: span 3;
    }
  }

  .grid__cell--span-4,
  .grid__cell--span-4-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-4,
    .grid__cell--span-4-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-5,
  .grid__cell--span-5-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-5,
    .grid__cell--span-5-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-6,
  .grid__cell--span-6-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-6,
    .grid__cell--span-6-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-7,
  .grid__cell--span-7-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-7,
    .grid__cell--span-7-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-8,
  .grid__cell--span-8-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-8,
    .grid__cell--span-8-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-9,
  .grid__cell--span-9-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-9,
    .grid__cell--span-9-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-10,
  .grid__cell--span-10-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-10,
    .grid__cell--span-10-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-11,
  .grid__cell--span-11-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-11,
    .grid__cell--span-11-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }

  .grid__cell--span-12,
  .grid__cell--span-12-phone {
    width: calc(100% - 16px);
    width: calc(100% - var(--grid-gutter-phone, 16px));
  }

  @supports (display: grid) {
    .grid__cell--span-12,
    .grid__cell--span-12-phone {
      width: auto;
      grid-column-end: span 4;
    }
  }
}

.grid__cell {
  overflow: hidden;
}

.grid__cell--order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.grid__cell--order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.grid__cell--order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.grid__cell--order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.grid__cell--order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.grid__cell--order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.grid__cell--order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.grid__cell--order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.grid__cell--order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.grid__cell--order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.grid__cell--order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.grid__cell--order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.grid__cell--align-top {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

@supports (display: grid) {
  .grid__cell--align-top {
    -ms-flex-item-align: start;
    align-self: start;
  }
}

.grid__cell--align-middle {
  -ms-flex-item-align: center;
  align-self: center;
}

.grid__cell--align-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@supports (display: grid) {
  .grid__cell--align-bottom {
    -ms-flex-item-align: end;
    align-self: end;
  }
}

@media (min-width: 840px) {
  .grid--fixed-column-width {
    width: 1176px;
    width: calc(var(--grid-column-width-desktop, 72px) * 12 + var(--grid-gutter-desktop, 24px) * 11 + var(--grid-margin-desktop, 24px) * 2);
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .grid--fixed-column-width {
    width: 720px;
    width: calc(var(--grid-column-width-tablet, 72px) * 8 + var(--grid-gutter-tablet, 16px) * 7 + var(--grid-margin-tablet, 16px) * 2);
  }
}

@media (max-width: 479px) {
  .grid--fixed-column-width {
    width: 368px;
    width: calc(var(--grid-column-width-phone, 72px) * 4 + var(--grid-gutter-phone, 16px) * 3 + var(--grid-margin-phone, 16px) * 2);
  }
}

.grid--align-left {
  margin-right: auto;
  margin-left: 0;
}

.grid--align-right {
  margin-right: 0;
  margin-left: auto;
}

.grid__inner--bordered {
  background-color: var(--grid-bordered-color);
}

.grid__inner--bordered .grid__cell {
  background: var(--grid-bordered-cell-color);
}
