$this: '.avatar';

#{$this} {
  --f-font-size: 17px;
  --f-avatar-size: 48px;

  width: var(--f-avatar-size);
  height: var(--f-avatar-size);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  font-weight: 400;

  &:after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    font-size: var(--f-font-size);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--small {
    --f-font-size: 10px;
    --f-avatar-size: 22px;
    font-weight: 500;
  }

  &--medium {
    --f-font-size: 15px;
    --f-avatar-size: 32px;
  }

  &--large {
    --f-font-size: 28px;
    --f-avatar-size: 58px;
    font-weight: normal;
  }
}
