@import "./foundation";

:root, :host {
  --f-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --f-mono-font: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --f-font-size: .894rem;
  --text-opacity: 0.70;

  --f-spacing-extra-small: 2px;
  --f-spacing-small: 4px;
  --f-spacing-medium: 8px;
  --f-spacing-large: 16px;
  --f-spacing-extra-large: 24px;

  --f-color-default-light: var(--rgb-grey-500);
  --f-color-default-light-text: var(--rgb-grey-500-text);
  --f-color-default-dark: var(--rgb-grey-900);
  --f-color-default-dark-text: var(--rgb-grey-900-text);
  --f-color-default: var(--rgb-grey-700);
  --f-color-default-text: var(--rgb-grey-700-text);

  --f-divider-color: var(--rgb-grey-200);

  --f-text-color: var(--rgb-text-dark);
  --f-foreground-color: var(--rgb-grey-700);
  --f-background-color: var(--rgb-grey-50);
  --f-content-background-color: var(--rgb-white);

  --f-lightest-color: var(--rgb-grey-100);
  --f-lighter-color: var(--rgb-grey-300);

  --f-success-color: 2, 188, 119;
  --f-success-color-text: var(--rgb-text-light);
  --f-danger-color: 176, 0, 32;
  --f-danger-color-text: var(--rgb-text-light);
  --f-warning-color: 248, 140, 55;
  --f-warning-color-text: var(--rgb-text-light);
  --f-info-color: 16, 182, 224;
  --f-info-color-text: var(--rgb-text-light);
  --f-code-color: 232, 62, 140;
  --f-code-color-text: var(--rgb-text-light);
}


html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: rgb(var(--f-background-color));
  font-family: var(--f-font);
  font-size: var(--f-font-size);
  font-weight: 400;
  line-height: 1.47;
  font-display: swap;
  color: rgba(var(--f-text-color), var(--text-opacity));
  -moz-font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: rgba(var(--f-text-color), var(--text-opacity));
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  --text-opacity: 1;
}

input, select, textarea {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  background: rgb(var(--f-background-color));
  color: rgba(var(--f-text-color), var(--text-opacity));
}

@each $breakpointName, $breakpointSize in $breakpoints {
  @include breakpoint(#{$breakpointName} only) {
    .block-#{$breakpointName} {
      display: block !important;
    }
    .hide-#{$breakpointName} {
      display: none !important;
    }
  }
}
