:root, :host {
  --rgb-text-dark: 0, 0, 0;
  --rgb-text-light: 255, 255, 255;

  --rgb-black: 0, 0, 0;
  --rgb-black-text: var(--rgb-text-light);
  --rgb-white: 255, 255, 255;
  --rgb-white-text: var(--rgb-text-dark);

  --rgb-grey-50: 250, 250, 250;
  --rgb-grey-100: 245, 245, 245;
  --rgb-grey-200: 238, 238, 238;
  --rgb-grey-300: 224, 224, 224;
  --rgb-grey-400: 189, 189, 189;
  --rgb-grey-500: 158, 158, 158;
  --rgb-grey-600: 117, 117, 117;
  --rgb-grey-700: 97, 97, 97;
  --rgb-grey-800: 66, 66, 66;
  --rgb-grey-900: 33, 33, 33;

  --rgb-grey-50-text: var(--rgb-text-dark);
  --rgb-grey-100-text: var(--rgb-text-dark);
  --rgb-grey-200-text: var(--rgb-text-dark);
  --rgb-grey-300-text: var(--rgb-text-dark);
  --rgb-grey-400-text: var(--rgb-text-dark);
  --rgb-grey-500-text: var(--rgb-text-dark);
  --rgb-grey-600-text: var(--rgb-text-light);
  --rgb-grey-700-text: var(--rgb-text-light);
  --rgb-grey-800-text: var(--rgb-text-light);
  --rgb-grey-900-text: var(--rgb-text-light);
}
