@import "../../Foundation/res/foundation";
@import "_helpers/left-border";

$this: '.step';

#{$this} {
  padding: 20px 20px 20px 60px;
  position: relative;


  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    flex-wrap: wrap;

    @include breakpoint(phablet down) {
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 10px;
      > * {
        margin: 5px 0;
      }
    }

    * {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    flex-wrap: wrap;

    &:empty {
      padding: 0;
      border: none;
    }

    @include breakpoint(phablet down) {
      flex-direction: column;
      justify-content: space-between;
      padding: 15px 10px 30px;
      > * {
        margin: 10px 0;
      }
    }

    * {
      margin-bottom: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgba(198, 198, 198, 1);
    border-radius: 15px;
    left: 25px;
    top: 30px;
    transform: translateX(-50%);
    z-index: 2;
  }

  &:after {
    @include left-border()
  }
}
