:root {
  --banner-z-index: 10;
  --banner-background: rgba(255, 255, 255, 1);
  --banner-border-color: rgba(0, 0, 0, 0.12);
}

.banner {
  background: var(--banner-background);
  border: 1px solid var(--banner-border-color);
  --text-opacity: 1;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  z-index: var(--banner-z-index);
}

.banner, .banner__outer {
  min-width: 260px;
}

.banner__outer {
  display: flex;
  padding: 16px;
  margin: 0 auto;
}

.banner__icon {
  width: 48px;
  min-width: 48px;
  margin-right: 16px;
  text-align: center;
}

.banner__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.banner__content {
  flex-grow: 1;
  min-width: 150px;
}

.banner__buttons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: -8px;
  margin-bottom: -8px;
}

.banner.banner--full-width {
  max-width: initial;
}

.banner.banner--fixed {
  position: fixed;
}

.banner.banner--top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.banner.banner--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


.banner.banner--top.banner--shadow {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
}

.banner.banner--shadow,
.banner.banner--bottom.banner--shadow {
  -webkit-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.03), 0 -1px 4px 0 rgba(0, 0, 0, 0.04), 0 -3px 1px -2px rgba(0, 0, 0, 0.04);
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.03), 0 -1px 4px 0 rgba(0, 0, 0, 0.04), 0 -3px 1px -2px rgba(0, 0, 0, 0.04);
}


@media (min-width: 600px) {
  .banner, .banner__outer {
    max-width: 720px;
  }

  .banner .banner__buttons {
    padding-left: 90px;
  }
}

@media (min-width: 1200px) {
  .banner, .banner__outer {
    max-width: 1024px;
  }
}

@media (max-width: 599px) {
  .banner, .banner__outer {
    max-width: 360px;
  }

  .banner .banner__buttons {
    padding-left: 36px;
  }
}

@media (max-width: 320px) {
  .banner__icon {
    display: none;
  }
}
