@mixin table {
  table {
    --f-table-border-color: rgb(var(--f-divider-color));
    --f-table-stripe-color: rgb(var(--f-lightest-color));
    border-collapse: collapse !important;
    background-color: transparent;
    width: 100%;
  }

  table th, table td {
    padding: .625rem;
  }

  table thead th {
    --text-opacity: 0.87;
    vertical-align: middle;
    border-bottom: 1px solid var(--f-table-border-color);
    font-weight: 500;
    text-align: inherit;
  }

  table.table--bordered {
    border: 1px solid var(--f-table-border-color);
  }

  table.table--bordered thead th {
    border-bottom-width: 2px;
  }

  table.table--bordered th, table.table--bordered td {
    border: 1px solid var(--f-table-border-color);
  }

  table.table--striped tbody tr:nth-of-type(odd) {
    background-color: var(--f-table-stripe-color);
  }

  table.table--fixed {
    table-layout: fixed;
  }
}
