:root {
  --elegance-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --elegance-mono-font: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --elegance-font-size: .894rem;
  --text-opacity: 0.70;

  --elegance-color-primary-light: var(--color-deep-purple-200);
  --elegance-color-primary-light-text: var(--color-deep-purple-200-text);
  --elegance-color-primary-dark: var(--color-deep-purple-900);
  --elegance-color-primary-dark-text: var(--color-deep-purple-900-text);
  --elegance-color-primary: var(--color-deep-purple-700);
  --elegance-color-primary-text: var(--color-deep-purple-700-text);

  --elegance-color-accent-light: var(--color-deep-orange-200);
  --elegance-color-accent-light-text: var(--color-deep-orange-200-text);
  --elegance-color-accent-dark: var(--color-deep-orange-900);
  --elegance-color-accent-dark-text: var(--color-deep-orange-900-text);
  --elegance-color-accent: var(--color-deep-orange-700);
  --elegance-color-accent-text: var(--color-deep-orange-700-text);

  --elegance-divider-color: var(--color-grey-200);

  --elegance-text-color: var(--color-text-dark);
  --elegance-foreground-color: var(--color-grey-700);
  --elegance-background-color: var(--color-grey-50);
  --elegance-content-background-color: var(--color-white);

  --elegance-lightest-color: var(--color-grey-100);
  --elegance-lighter-color: var(--color-grey-300);

  --elegance-success-color: 2, 188, 119;
  --elegance-success-color-text: var(--color-text-light);
  --elegance-danger-color: 176, 0, 32;
  --elegance-danger-color-text: var(--color-text-light);
  --elegance-warning-color: 248, 172, 89;
  --elegance-warning-color-text: var(--color-text-light);
  --elegance-info-color: 16, 182, 224;
  --elegance-info-color-text: var(--color-text-light);
  --elegance-code-color: 232, 62, 140;
  --elegance-code-color-text: var(--color-text-light);
}

body.dark {
  --elegance-divider-color: var(--color-black);

  --elegance-text-color: var(--color-text-light);
  --elegance-foreground-color: var(--color-grey-100);
  --elegance-background-color: var(--color-grey-900);
  --elegance-content-background-color: var(--color-grey-800);

  --elegance-lightest-color: var(--color-grey-700);
  --elegance-lighter-color: var(--color-grey-600);
}

body {
  background: rgb(var(--elegance-background-color));
  font-family: var(--elegance-font);
  font-size: var(--elegance-font-size);
  font-weight: 400;
  line-height: 1.47;
  color: rgba(var(--elegance-text-color), var(--text-opacity));

  -moz-font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  --elegance-text-color: var(--elegance-color-accent);
  color: rgb(var(--elegance-color-accent));
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}
