:root {
  --color-text-dark: 0, 0, 0;
  --color-text-light: 255, 255, 255;

  --color-black: 0, 0, 0;
  --color-black-text: var(--color-text-light);
  --color-white: 255, 255, 255;
  --color-white-text: var(--color-text-dark);

  --color-red-50: 255, 235, 238;
  --color-red-50-text: var(--color-text-dark);
  --color-red-100: 255, 205, 210;
  --color-red-100-text: var(--color-text-dark);
  --color-red-200: 239, 154, 154;
  --color-red-200-text: var(--color-text-dark);
  --color-red-300: 229, 115, 115;
  --color-red-300-text: var(--color-text-dark);
  --color-red-400: 239, 83, 80;
  --color-red-400-text: var(--color-text-light);
  --color-red-500: 244, 67, 54;
  --color-red-500-text: var(--color-text-light);
  --color-red-600: 229, 57, 53;
  --color-red-600-text: var(--color-text-light);
  --color-red-700: 211, 47, 47;
  --color-red-700-text: var(--color-text-light);
  --color-red-800: 198, 40, 40;
  --color-red-800-text: var(--color-text-light);
  --color-red-900: 183, 28, 28;
  --color-red-900-text: var(--color-text-light);
  --color-red-a100: 255, 138, 128;
  --color-red-a100-text: var(--color-text-dark);
  --color-red-a200: 255, 82, 82;
  --color-red-a200-text: var(--color-text-light);
  --color-red-a400: 255, 23, 68;
  --color-red-a400-text: var(--color-text-light);
  --color-red-a700: 213, 0, 0;
  --color-red-a700-text: var(--color-text-light);
  --color-pink-50: 252, 228, 236;
  --color-pink-50-text: var(--color-text-dark);
  --color-pink-100: 248, 187, 208;
  --color-pink-100-text: var(--color-text-dark);
  --color-pink-200: 244, 143, 177;
  --color-pink-200-text: var(--color-text-dark);
  --color-pink-300: 240, 98, 146;
  --color-pink-300-text: var(--color-text-dark);
  --color-pink-400: 236, 64, 122;
  --color-pink-400-text: var(--color-text-light);
  --color-pink-500: 233, 30, 99;
  --color-pink-500-text: var(--color-text-light);
  --color-pink-600: 216, 27, 96;
  --color-pink-600-text: var(--color-text-light);
  --color-pink-700: 194, 24, 91;
  --color-pink-700-text: var(--color-text-light);
  --color-pink-800: 173, 20, 87;
  --color-pink-800-text: var(--color-text-light);
  --color-pink-900: 136, 14, 79;
  --color-pink-900-text: var(--color-text-light);
  --color-pink-a100: 255, 128, 171;
  --color-pink-a100-text: var(--color-text-dark);
  --color-pink-a200: 255, 64, 129;
  --color-pink-a200-text: var(--color-text-light);
  --color-pink-a400: 245, 0, 87;
  --color-pink-a400-text: var(--color-text-light);
  --color-pink-a700: 197, 17, 98;
  --color-pink-a700-text: var(--color-text-light);
  --color-purple-50: 243, 229, 245;
  --color-purple-50-text: var(--color-text-dark);
  --color-purple-100: 225, 190, 231;
  --color-purple-100-text: var(--color-text-dark);
  --color-purple-200: 206, 147, 216;
  --color-purple-200-text: var(--color-text-dark);
  --color-purple-300: 186, 104, 200;
  --color-purple-300-text: var(--color-text-light);
  --color-purple-400: 171, 71, 188;
  --color-purple-400-text: var(--color-text-light);
  --color-purple-500: 156, 39, 176;
  --color-purple-500-text: var(--color-text-light);
  --color-purple-600: 142, 36, 170;
  --color-purple-600-text: var(--color-text-light);
  --color-purple-700: 123, 31, 162;
  --color-purple-700-text: var(--color-text-light);
  --color-purple-800: 106, 27, 154;
  --color-purple-800-text: var(--color-text-light);
  --color-purple-900: 74, 20, 140;
  --color-purple-900-text: var(--color-text-light);
  --color-purple-a100: 234, 128, 252;
  --color-purple-a100-text: var(--color-text-dark);
  --color-purple-a200: 224, 64, 251;
  --color-purple-a200-text: var(--color-text-light);
  --color-purple-a400: 213, 0, 249;
  --color-purple-a400-text: var(--color-text-light);
  --color-purple-a700: 170, 0, 255;
  --color-purple-a700-text: var(--color-text-light);
  --color-deep-purple-50: 237, 231, 246;
  --color-deep-purple-50-text: var(--color-text-dark);
  --color-deep-purple-100: 209, 196, 233;
  --color-deep-purple-100-text: var(--color-text-dark);
  --color-deep-purple-200: 179, 157, 219;
  --color-deep-purple-200-text: var(--color-text-dark);
  --color-deep-purple-300: 149, 117, 205;
  --color-deep-purple-300-text: var(--color-text-light);
  --color-deep-purple-400: 126, 87, 194;
  --color-deep-purple-400-text: var(--color-text-light);
  --color-deep-purple-500: 103, 58, 183;
  --color-deep-purple-500-text: var(--color-text-light);
  --color-deep-purple-600: 94, 53, 177;
  --color-deep-purple-600-text: var(--color-text-light);
  --color-deep-purple-700: 81, 45, 168;
  --color-deep-purple-700-text: var(--color-text-light);
  --color-deep-purple-800: 69, 39, 160;
  --color-deep-purple-800-text: var(--color-text-light);
  --color-deep-purple-900: 49, 27, 146;
  --color-deep-purple-900-text: var(--color-text-light);
  --color-deep-purple-a100: 179, 136, 255;
  --color-deep-purple-a100-text: var(--color-text-dark);
  --color-deep-purple-a200: 124, 77, 255;
  --color-deep-purple-a200-text: var(--color-text-light);
  --color-deep-purple-a400: 101, 31, 255;
  --color-deep-purple-a400-text: var(--color-text-light);
  --color-deep-purple-a700: 98, 0, 234;
  --color-deep-purple-a700-text: var(--color-text-light);
  --color-indigo-50: 232, 234, 246;
  --color-indigo-50-text: var(--color-text-dark);
  --color-indigo-100: 197, 202, 233;
  --color-indigo-100-text: var(--color-text-dark);
  --color-indigo-200: 159, 168, 218;
  --color-indigo-200-text: var(--color-text-dark);
  --color-indigo-300: 121, 134, 203;
  --color-indigo-300-text: var(--color-text-light);
  --color-indigo-400: 92, 107, 192;
  --color-indigo-400-text: var(--color-text-light);
  --color-indigo-500: 63, 81, 181;
  --color-indigo-500-text: var(--color-text-light);
  --color-indigo-600: 57, 73, 171;
  --color-indigo-600-text: var(--color-text-light);
  --color-indigo-700: 48, 63, 159;
  --color-indigo-700-text: var(--color-text-light);
  --color-indigo-800: 40, 53, 147;
  --color-indigo-800-text: var(--color-text-light);
  --color-indigo-900: 26, 35, 126;
  --color-indigo-900-text: var(--color-text-light);
  --color-indigo-a100: 140, 158, 255;
  --color-indigo-a100-text: var(--color-text-dark);
  --color-indigo-a200: 83, 109, 254;
  --color-indigo-a200-text: var(--color-text-light);
  --color-indigo-a400: 61, 90, 254;
  --color-indigo-a400-text: var(--color-text-light);
  --color-indigo-a700: 48, 79, 254;
  --color-indigo-a700-text: var(--color-text-light);
  --color-blue-50: 227, 242, 253;
  --color-blue-50-text: var(--color-text-dark);
  --color-blue-100: 187, 222, 251;
  --color-blue-100-text: var(--color-text-dark);
  --color-blue-200: 144, 202, 249;
  --color-blue-200-text: var(--color-text-dark);
  --color-blue-300: 100, 181, 246;
  --color-blue-300-text: var(--color-text-dark);
  --color-blue-400: 66, 165, 245;
  --color-blue-400-text: var(--color-text-dark);
  --color-blue-500: 33, 150, 243;
  --color-blue-500-text: var(--color-text-dark);
  --color-blue-600: 30, 136, 229;
  --color-blue-600-text: var(--color-text-light);
  --color-blue-700: 25, 118, 210;
  --color-blue-700-text: var(--color-text-light);
  --color-blue-800: 21, 101, 192;
  --color-blue-800-text: var(--color-text-light);
  --color-blue-900: 13, 71, 161;
  --color-blue-900-text: var(--color-text-light);
  --color-blue-a100: 130, 177, 255;
  --color-blue-a100-text: var(--color-text-dark);
  --color-blue-a200: 68, 138, 255;
  --color-blue-a200-text: var(--color-text-light);
  --color-blue-a400: 41, 121, 255;
  --color-blue-a400-text: var(--color-text-light);
  --color-blue-a700: 41, 98, 255;
  --color-blue-a700-text: var(--color-text-light);
  --color-light-blue-50: 225, 245, 254;
  --color-light-blue-50-text: var(--color-text-dark);
  --color-light-blue-100: 179, 229, 252;
  --color-light-blue-100-text: var(--color-text-dark);
  --color-light-blue-200: 129, 212, 250;
  --color-light-blue-200-text: var(--color-text-dark);
  --color-light-blue-300: 79, 195, 247;
  --color-light-blue-300-text: var(--color-text-dark);
  --color-light-blue-400: 41, 182, 246;
  --color-light-blue-400-text: var(--color-text-dark);
  --color-light-blue-500: 3, 169, 244;
  --color-light-blue-500-text: var(--color-text-dark);
  --color-light-blue-600: 3, 155, 229;
  --color-light-blue-600-text: var(--color-text-dark);
  --color-light-blue-700: 2, 136, 209;
  --color-light-blue-700-text: var(--color-text-light);
  --color-light-blue-800: 2, 119, 189;
  --color-light-blue-800-text: var(--color-text-light);
  --color-light-blue-900: 1, 87, 155;
  --color-light-blue-900-text: var(--color-text-light);
  --color-light-blue-a100: 128, 216, 255;
  --color-light-blue-a100-text: var(--color-text-dark);
  --color-light-blue-a200: 64, 196, 255;
  --color-light-blue-a200-text: var(--color-text-dark);
  --color-light-blue-a400: 0, 176, 255;
  --color-light-blue-a400-text: var(--color-text-dark);
  --color-light-blue-a700: 0, 145, 234;
  --color-light-blue-a700-text: var(--color-text-light);
  --color-cyan-50: 224, 247, 250;
  --color-cyan-50-text: var(--color-text-dark);
  --color-cyan-100: 178, 235, 242;
  --color-cyan-100-text: var(--color-text-dark);
  --color-cyan-200: 128, 222, 234;
  --color-cyan-200-text: var(--color-text-dark);
  --color-cyan-300: 77, 208, 225;
  --color-cyan-300-text: var(--color-text-dark);
  --color-cyan-400: 38, 198, 218;
  --color-cyan-400-text: var(--color-text-dark);
  --color-cyan-500: 0, 188, 212;
  --color-cyan-500-text: var(--color-text-dark);
  --color-cyan-600: 0, 172, 193;
  --color-cyan-600-text: var(--color-text-dark);
  --color-cyan-700: 0, 151, 167;
  --color-cyan-700-text: var(--color-text-light);
  --color-cyan-800: 0, 131, 143;
  --color-cyan-800-text: var(--color-text-light);
  --color-cyan-900: 0, 96, 100;
  --color-cyan-900-text: var(--color-text-light);
  --color-cyan-a100: 132, 255, 255;
  --color-cyan-a100-text: var(--color-text-dark);
  --color-cyan-a200: 24, 255, 255;
  --color-cyan-a200-text: var(--color-text-dark);
  --color-cyan-a400: 0, 229, 255;
  --color-cyan-a400-text: var(--color-text-dark);
  --color-cyan-a700: 0, 184, 212;
  --color-cyan-a700-text: var(--color-text-dark);
  --color-teal-50: 224, 242, 241;
  --color-teal-50-text: var(--color-text-dark);
  --color-teal-100: 178, 223, 219;
  --color-teal-100-text: var(--color-text-dark);
  --color-teal-200: 128, 203, 196;
  --color-teal-200-text: var(--color-text-dark);
  --color-teal-300: 77, 182, 172;
  --color-teal-300-text: var(--color-text-dark);
  --color-teal-400: 38, 166, 154;
  --color-teal-400-text: var(--color-text-dark);
  --color-teal-500: 0, 150, 136;
  --color-teal-500-text: var(--color-text-light);
  --color-teal-600: 0, 137, 123;
  --color-teal-600-text: var(--color-text-light);
  --color-teal-700: 0, 121, 107;
  --color-teal-700-text: var(--color-text-light);
  --color-teal-800: 0, 105, 92;
  --color-teal-800-text: var(--color-text-light);
  --color-teal-900: 0, 77, 64;
  --color-teal-900-text: var(--color-text-light);
  --color-teal-a100: 167, 255, 235;
  --color-teal-a100-text: var(--color-text-dark);
  --color-teal-a200: 100, 255, 218;
  --color-teal-a200-text: var(--color-text-dark);
  --color-teal-a400: 29, 233, 182;
  --color-teal-a400-text: var(--color-text-dark);
  --color-teal-a700: 0, 191, 165;
  --color-teal-a700-text: var(--color-text-dark);
  --color-green-50: 232, 245, 233;
  --color-green-50-text: var(--color-text-dark);
  --color-green-100: 200, 230, 201;
  --color-green-100-text: var(--color-text-dark);
  --color-green-200: 165, 214, 167;
  --color-green-200-text: var(--color-text-dark);
  --color-green-300: 129, 199, 132;
  --color-green-300-text: var(--color-text-dark);
  --color-green-400: 102, 187, 106;
  --color-green-400-text: var(--color-text-dark);
  --color-green-500: 76, 175, 80;
  --color-green-500-text: var(--color-text-dark);
  --color-green-600: 67, 160, 71;
  --color-green-600-text: var(--color-text-dark);
  --color-green-700: 56, 142, 60;
  --color-green-700-text: var(--color-text-light);
  --color-green-800: 46, 125, 50;
  --color-green-800-text: var(--color-text-light);
  --color-green-900: 27, 94, 32;
  --color-green-900-text: var(--color-text-light);
  --color-green-a100: 185, 246, 202;
  --color-green-a100-text: var(--color-text-dark);
  --color-green-a200: 105, 240, 174;
  --color-green-a200-text: var(--color-text-dark);
  --color-green-a400: 0, 230, 118;
  --color-green-a400-text: var(--color-text-dark);
  --color-green-a700: 0, 200, 83;
  --color-green-a700-text: var(--color-text-dark);
  --color-light-green-50: 241, 248, 233;
  --color-light-green-50-text: var(--color-text-dark);
  --color-light-green-100: 220, 237, 200;
  --color-light-green-100-text: var(--color-text-dark);
  --color-light-green-200: 197, 225, 165;
  --color-light-green-200-text: var(--color-text-dark);
  --color-light-green-300: 174, 213, 129;
  --color-light-green-300-text: var(--color-text-dark);
  --color-light-green-400: 156, 204, 101;
  --color-light-green-400-text: var(--color-text-dark);
  --color-light-green-500: 139, 195, 74;
  --color-light-green-500-text: var(--color-text-dark);
  --color-light-green-600: 124, 179, 66;
  --color-light-green-600-text: var(--color-text-dark);
  --color-light-green-700: 104, 159, 56;
  --color-light-green-700-text: var(--color-text-dark);
  --color-light-green-800: 85, 139, 47;
  --color-light-green-800-text: var(--color-text-light);
  --color-light-green-900: 51, 105, 30;
  --color-light-green-900-text: var(--color-text-light);
  --color-light-green-a100: 204, 255, 144;
  --color-light-green-a100-text: var(--color-text-dark);
  --color-light-green-a200: 178, 255, 89;
  --color-light-green-a200-text: var(--color-text-dark);
  --color-light-green-a400: 118, 255, 3;
  --color-light-green-a400-text: var(--color-text-dark);
  --color-light-green-a700: 100, 221, 23;
  --color-light-green-a700-text: var(--color-text-dark);
  --color-lime-50: 249, 251, 231;
  --color-lime-50-text: var(--color-text-dark);
  --color-lime-100: 240, 244, 195;
  --color-lime-100-text: var(--color-text-dark);
  --color-lime-200: 230, 238, 156;
  --color-lime-200-text: var(--color-text-dark);
  --color-lime-300: 220, 231, 117;
  --color-lime-300-text: var(--color-text-dark);
  --color-lime-400: 212, 225, 87;
  --color-lime-400-text: var(--color-text-dark);
  --color-lime-500: 205, 220, 57;
  --color-lime-500-text: var(--color-text-dark);
  --color-lime-600: 192, 202, 51;
  --color-lime-600-text: var(--color-text-dark);
  --color-lime-700: 175, 180, 43;
  --color-lime-700-text: var(--color-text-dark);
  --color-lime-800: 158, 157, 36;
  --color-lime-800-text: var(--color-text-dark);
  --color-lime-900: 130, 119, 23;
  --color-lime-900-text: var(--color-text-light);
  --color-lime-a100: 244, 255, 129;
  --color-lime-a100-text: var(--color-text-dark);
  --color-lime-a200: 238, 255, 65;
  --color-lime-a200-text: var(--color-text-dark);
  --color-lime-a400: 198, 255, 0;
  --color-lime-a400-text: var(--color-text-dark);
  --color-lime-a700: 174, 234, 0;
  --color-lime-a700-text: var(--color-text-dark);
  --color-yellow-50: 255, 253, 231;
  --color-yellow-50-text: var(--color-text-dark);
  --color-yellow-100: 255, 249, 196;
  --color-yellow-100-text: var(--color-text-dark);
  --color-yellow-200: 255, 245, 157;
  --color-yellow-200-text: var(--color-text-dark);
  --color-yellow-300: 255, 241, 118;
  --color-yellow-300-text: var(--color-text-dark);
  --color-yellow-400: 255, 238, 88;
  --color-yellow-400-text: var(--color-text-dark);
  --color-yellow-500: 255, 235, 59;
  --color-yellow-500-text: var(--color-text-dark);
  --color-yellow-600: 253, 216, 53;
  --color-yellow-600-text: var(--color-text-dark);
  --color-yellow-700: 251, 192, 45;
  --color-yellow-700-text: var(--color-text-dark);
  --color-yellow-800: 249, 168, 37;
  --color-yellow-800-text: var(--color-text-dark);
  --color-yellow-900: 245, 127, 23;
  --color-yellow-900-text: var(--color-text-dark);
  --color-yellow-a100: 255, 255, 141;
  --color-yellow-a100-text: var(--color-text-dark);
  --color-yellow-a200: 255, 255, 0;
  --color-yellow-a200-text: var(--color-text-dark);
  --color-yellow-a400: 255, 234, 0;
  --color-yellow-a400-text: var(--color-text-dark);
  --color-yellow-a700: 255, 214, 0;
  --color-yellow-a700-text: var(--color-text-dark);
  --color-amber-50: 255, 248, 225;
  --color-amber-50-text: var(--color-text-dark);
  --color-amber-100: 255, 236, 179;
  --color-amber-100-text: var(--color-text-dark);
  --color-amber-200: 255, 224, 130;
  --color-amber-200-text: var(--color-text-dark);
  --color-amber-300: 255, 213, 79;
  --color-amber-300-text: var(--color-text-dark);
  --color-amber-400: 255, 202, 40;
  --color-amber-400-text: var(--color-text-dark);
  --color-amber-500: 255, 193, 7;
  --color-amber-500-text: var(--color-text-dark);
  --color-amber-600: 255, 179, 0;
  --color-amber-600-text: var(--color-text-dark);
  --color-amber-700: 255, 160, 0;
  --color-amber-700-text: var(--color-text-dark);
  --color-amber-800: 255, 143, 0;
  --color-amber-800-text: var(--color-text-dark);
  --color-amber-900: 255, 111, 0;
  --color-amber-900-text: var(--color-text-dark);
  --color-amber-a100: 255, 229, 127;
  --color-amber-a100-text: var(--color-text-dark);
  --color-amber-a200: 255, 215, 64;
  --color-amber-a200-text: var(--color-text-dark);
  --color-amber-a400: 255, 196, 0;
  --color-amber-a400-text: var(--color-text-dark);
  --color-amber-a700: 255, 171, 0;
  --color-amber-a700-text: var(--color-text-dark);
  --color-orange-50: 255, 243, 224;
  --color-orange-50-text: var(--color-text-dark);
  --color-orange-100: 255, 224, 178;
  --color-orange-100-text: var(--color-text-dark);
  --color-orange-200: 255, 204, 128;
  --color-orange-200-text: var(--color-text-dark);
  --color-orange-300: 255, 183, 77;
  --color-orange-300-text: var(--color-text-dark);
  --color-orange-400: 255, 167, 38;
  --color-orange-400-text: var(--color-text-dark);
  --color-orange-500: 255, 152, 0;
  --color-orange-500-text: var(--color-text-dark);
  --color-orange-600: 251, 140, 0;
  --color-orange-600-text: var(--color-text-dark);
  --color-orange-700: 245, 124, 0;
  --color-orange-700-text: var(--color-text-dark);
  --color-orange-800: 239, 108, 0;
  --color-orange-800-text: var(--color-text-dark);
  --color-orange-900: 230, 81, 0;
  --color-orange-900-text: var(--color-text-light);
  --color-orange-a100: 255, 209, 128;
  --color-orange-a100-text: var(--color-text-dark);
  --color-orange-a200: 255, 171, 64;
  --color-orange-a200-text: var(--color-text-dark);
  --color-orange-a400: 255, 145, 0;
  --color-orange-a400-text: var(--color-text-dark);
  --color-orange-a700: 255, 109, 0;
  --color-orange-a700-text: var(--color-text-dark);
  --color-deep-orange-50: 251, 233, 231;
  --color-deep-orange-50-text: var(--color-text-dark);
  --color-deep-orange-100: 255, 204, 188;
  --color-deep-orange-100-text: var(--color-text-dark);
  --color-deep-orange-200: 255, 171, 145;
  --color-deep-orange-200-text: var(--color-text-dark);
  --color-deep-orange-300: 255, 138, 101;
  --color-deep-orange-300-text: var(--color-text-dark);
  --color-deep-orange-400: 255, 112, 67;
  --color-deep-orange-400-text: var(--color-text-dark);
  --color-deep-orange-500: 255, 87, 34;
  --color-deep-orange-500-text: var(--color-text-dark);
  --color-deep-orange-600: 244, 81, 30;
  --color-deep-orange-600-text: var(--color-text-light);
  --color-deep-orange-700: 230, 74, 25;
  --color-deep-orange-700-text: var(--color-text-light);
  --color-deep-orange-800: 216, 67, 21;
  --color-deep-orange-800-text: var(--color-text-light);
  --color-deep-orange-900: 191, 54, 12;
  --color-deep-orange-900-text: var(--color-text-light);
  --color-deep-orange-a100: 255, 158, 128;
  --color-deep-orange-a100-text: var(--color-text-dark);
  --color-deep-orange-a200: 255, 110, 64;
  --color-deep-orange-a200-text: var(--color-text-dark);
  --color-deep-orange-a400: 255, 61, 0;
  --color-deep-orange-a400-text: var(--color-text-light);
  --color-deep-orange-a700: 221, 44, 0;
  --color-deep-orange-a700-text: var(--color-text-light);
  --color-brown-50: 239, 235, 233;
  --color-brown-50-text: var(--color-text-dark);
  --color-brown-100: 215, 204, 200;
  --color-brown-100-text: var(--color-text-dark);
  --color-brown-200: 188, 170, 164;
  --color-brown-200-text: var(--color-text-dark);
  --color-brown-300: 161, 136, 127;
  --color-brown-300-text: var(--color-text-light);
  --color-brown-400: 141, 110, 99;
  --color-brown-400-text: var(--color-text-light);
  --color-brown-500: 121, 85, 72;
  --color-brown-500-text: var(--color-text-light);
  --color-brown-600: 109, 76, 65;
  --color-brown-600-text: var(--color-text-light);
  --color-brown-700: 93, 64, 55;
  --color-brown-700-text: var(--color-text-light);
  --color-brown-800: 78, 52, 46;
  --color-brown-800-text: var(--color-text-light);
  --color-brown-900: 62, 39, 35;
  --color-brown-900-text: var(--color-text-light);
  --color-grey-50: 250, 250, 250;
  --color-grey-50-text: var(--color-text-dark);
  --color-grey-100: 245, 245, 245;
  --color-grey-100-text: var(--color-text-dark);
  --color-grey-200: 238, 238, 238;
  --color-grey-200-text: var(--color-text-dark);
  --color-grey-300: 224, 224, 224;
  --color-grey-300-text: var(--color-text-dark);
  --color-grey-400: 189, 189, 189;
  --color-grey-400-text: var(--color-text-dark);
  --color-grey-500: 158, 158, 158;
  --color-grey-500-text: var(--color-text-dark);
  --color-grey-600: 117, 117, 117;
  --color-grey-600-text: var(--color-text-light);
  --color-grey-700: 97, 97, 97;
  --color-grey-700-text: var(--color-text-light);
  --color-grey-800: 66, 66, 66;
  --color-grey-800-text: var(--color-text-light);
  --color-grey-900: 33, 33, 33;
  --color-grey-900-text: var(--color-text-light);
  --color-blue-grey-50: 236, 239, 241;
  --color-blue-grey-50-text: var(--color-text-dark);
  --color-blue-grey-100: 207, 216, 220;
  --color-blue-grey-100-text: var(--color-text-dark);
  --color-blue-grey-200: 176, 190, 197;
  --color-blue-grey-200-text: var(--color-text-dark);
  --color-blue-grey-300: 144, 164, 174;
  --color-blue-grey-300-text: var(--color-text-dark);
  --color-blue-grey-400: 120, 144, 156;
  --color-blue-grey-400-text: var(--color-text-light);
  --color-blue-grey-500: 96, 125, 139;
  --color-blue-grey-500-text: var(--color-text-light);
  --color-blue-grey-600: 84, 110, 122;
  --color-blue-grey-600-text: var(--color-text-light);
  --color-blue-grey-700: 69, 90, 100;
  --color-blue-grey-700-text: var(--color-text-light);
  --color-blue-grey-800: 55, 71, 79;
  --color-blue-grey-800-text: var(--color-text-light);
  --color-blue-grey-900: 38, 50, 56;
  --color-blue-grey-900-text: var(--color-text-light);
}
