button, .btn {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: .3rem 1rem;
  font-size: var(--elegance-font-size);
  line-height: 1.47;
  border-radius: .2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.1s ease-in-out;
  overflow: visible;
  margin: 2px;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  font-family: var(--elegance-font);
  outline: 0;
  opacity: 0.95;

  --button-active-color: var(--elegance-lighter-colour);
  --button-focus-color: var(--elegance-lightest-colour);
  --button-inverse-color: var(--elegance-text-colour);
  color: var(--button-inverse-color);
}

button:hover, .btn:hover {
  opacity: 1;
  color: var(--button-inverse-color);
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .08);
}

.btn-raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

button.btn-raised:hover, .btn.btn-raised:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

button:not(:disabled):not(.disabled), .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button.btn-primary, .btn.btn-primary {
  --button-color: var(--elegance-primary-colour);
  --button-active-color: var(--elegance-primary-lighter-colour);
  --button-focus-color: var(--elegance-primary-lightest-colour);
  --button-inverse-color: #fff;

  background-color: var(--button-color);
}

button.btn-secondary, .btn.btn-secondary {
  --button-color: var(--elegance-secondary-colour);
  --button-active-color: var(--elegance-secondary-lighter-colour);
  --button-focus-color: var(--elegance-secondary-lightest-colour);
  --button-inverse-color: #fff;
  background-color: var(--button-color);
}

button.btn-link, .btn.btn-link {
  --button-color: var(--elegance-link-colour);
  --button-active-color: var(--elegance-link-lighter-colour);
  --button-focus-color: var(--elegance-link-lightest-colour);
  --button-inverse-color: #fff;
  color: var(--button-color);
}

button.btn-success, .btn.btn-success {
  --button-color: var(--elegance-success-colour);
  --button-active-color: var(--elegance-success-lighter-colour);
  --button-focus-color: var(--elegance-success-lightest-colour);
  --button-inverse-color: #fff;
  background-color: var(--button-color);
}

button.btn-warning, .btn.btn-warning {
  --button-color: var(--elegance-warning-colour);
  --button-active-color: var(--elegance-warning-lighter-colour);
  --button-focus-color: var(--elegance-warning-lightest-colour);
  --button-inverse-color: #fff;
  background-color: var(--button-color);
}

button.btn-info, .btn.btn-info {
  --button-color: var(--elegance-info-colour);
  --button-active-color: var(--elegance-info-lighter-colour);
  --button-focus-color: var(--elegance-info-lightest-colour);
  --button-inverse-color: #fff;
  background-color: var(--button-color);
}

button.btn-danger, .btn.btn-danger {
  --button-color: var(--elegance-danger-colour);
  --button-active-color: var(--elegance-danger-lighter-colour);
  --button-focus-color: var(--elegance-danger-lightest-colour);
  --button-inverse-color: #fff;
  background-color: var(--button-color);
}

button.btn-dark, .btn.btn-dark {
  --button-color: var(--elegance-dark-colour);
  --button-active-color: var(--elegance-lighter-colour);
  --button-focus-color: var(--elegance-lightest-colour);
  --button-inverse-color: #fff;
  background-color: var(--button-color);
}


button.btn-flat, .btn-flat, button.btn-outline, .btn-outline {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-color);
}

.btn-flat:active, button.btn-flat:active {
  background-color: var(--button-active-color) !important;
}

.btn-flat:focus, button.btn-flat:focus, button.btn-flat.btn--active, .btn-flat.btn--active {
  background-color: var(--button-focus-color);
}

button.btn-outline, .btn-outline {
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

.btn-outline:hover, button.btn-outline:hover, .btn-outline:active, button.btn-outline:active {
  color: var(--button-color);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.15), 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
}

.btn-outline:hover, button.btn-outline:hover {
  background-color: var(--button-color) !important;
  color: var(--button-inverse-color);
}

.btn-outline:active, button.btn-outline:active {
  background-color: var(--button-active-color);
}

.btn-outline:focus, button.btn-outline:focus, button.btn-outline.btn--active, .btn-outline.btn--active {
  background-color: var(--button-focus-color);
}

button.btn-round, .btn.btn-round {
  border-radius: 60rem !important;
}

button.btn-xl, .btn.btn-xl {
  padding: .9375rem 2.125rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .125rem;
}

button.btn-lg, .btn.btn-lg {
  font-size: 1rem;
}

button.btn-sm, .btn.btn-sm {
  font-size: .6875rem;
}

button.btn-xs, .btn.btn-xs {
  padding: .0625rem .5rem;
  font-size: .6875rem;
  line-height: 1.55;
  border-radius: .125rem;
}

button.btn-fab, .btn.btn-fab {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12) !important;
}

button.disabled, button:disabled, .btn-disabled, .btn:disabled {
  opacity: .65;
  box-shadow: none;
}

button.btn-outline.disabled, button.btn-outline:disabled, .btn-outline.btn-disabled, .btn-outline.btn:disabled {
  background: transparent !important;
  box-shadow: none;
  color: var(--elegance-text-colour) !important;
}
