body {
  --drawer-desktop-width: 256px;
  --drawer-tablet-width: 256px; /*200px;*/
  --drawer-phone-width: 256px;
  --drawer-narrow-width: 56px;
  --drawer-transition-style: 300ms ease-in-out;
  --drawer-background-color: var(--el-content-background-color);
  --drawer-top-offset: 0;
}

.drawer {
  position: fixed;
  left: 0;
  top: var(--drawer-top-offset);
  bottom: 0;
  width: var(--drawer-width, 0);

  z-index: 999;

  overflow: hidden;

  transition: width var(--drawer-transition-style);
  background-color: rgb(var(--drawer-background-color));

  border-color: rgba(0, 0, 0, .12);
  border-right-width: 1px;
  border-right-style: solid;

  text-align: left;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.drawer__content {
  height: 100%;
  overflow-y: auto;
}

.drawer__header {
  min-height: 64px;
  padding: 16px 16px 4px 16px;
}

.drawer__content, .drawer__header {
  box-sizing: border-box;
  position: relative;
}

.drawer-app-content {
  top: var(--drawer-top-offset);
  transition: margin-left var(--drawer-transition-style);
}

.drawer.drawer--open {
  --drawer-width: var(--drawer-open-width);
}

.drawer__header, .drawer__content {
  width: var(--drawer-desktop-width);
}

.drawer__toggle {
  user-select: none;
}

.drawer[reveal="modal"].drawer--open + .drawer-app-content::before {
  opacity: 1;
  pointer-events: all;
}

.drawer-app-content::before {
  content: ' ';
  pointer-events: none;
  position: fixed;
  top: var(--drawer-top-offset);
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity var(--drawer-transition-style);
}


@media (min-width: 840px) {
  body {
    --drawer-open-width: var(--drawer-desktop-width);
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  body {
    --drawer-open-width: var(--drawer-tablet-width);
  }
}

/** NOT MOBILE */
@media (min-width: 480px) {
  .drawer_action--hide-non-mobile {
    display: none !important;
  }


  .drawer[state="narrow"] {
    min-width: var(--drawer-narrow-width);
  }


  .drawer[state="narrow"] + .drawer-app-content {
    margin-left: var(--drawer-narrow-width);
  }

  .drawer[state="narrow"].drawer--open + .drawer-app-content {
    /*margin-left: var(--drawer-open-width);*/
  }

  .drawer[min-state="narrow"] {
    width: var(--drawer-narrow-width);
  }

  .drawer[min-state="narrow"] + .drawer-app-content {
    margin-left: var(--drawer-narrow-width);
  }

  .drawer[state="narrow"][reveal="peek"]:hover,
  .drawer[min-state="permanent"],
  .drawer[state="permanent"].drawer--open {
    width: var(--drawer-open-width);
  }

  .drawer[min-state="permanent"] + .drawer-app-content,
  .drawer[state="permanent"].drawer--open + .drawer-app-content,
  .drawer[state="narrow"].drawer--open:not([reveal="modal"]) + .drawer-app-content {
    margin-left: var(--drawer-open-width);
  }
}

/** MOBILE */
@media (max-width: 479px) {
  body {
    --drawer-open-width: var(--drawer-phone-width);
  }

  .drawer_action--hide-mobile {
    display: none !important;
  }

  .drawer.drawer--open + .drawer-app-content::before {
    opacity: 1;
    pointer-events: all;
  }

  .drawer:not(.drawer--open) {
    border-right-width: 0;
  }
}
