.menu-item {
  display: flex;
  align-items: center;
  height: 48px;
  box-sizing: border-box;
}

.menu-item:hover {
  background-color: rgb(var(--el-lighter-color));
}

.menu-item--active {
  background-color: rgba(var(--el-color-primary), 0.1);
  --el-text-color: var(--el-color-primary);
  --text-opacity: 1;
}

.menu-item + .menu-item {
  border-top: none;
}

.menu-item--multi {
  height: 72px;
}

.menu-item__leading,
.menu-item__trailing {
  display: flex;
  flex-direction: row;
  min-width: 56px;
}

.menu-item__trailing {
  justify-content: flex-end;
}

.menu-item > :first-child {
  padding-left: 16px;
}

.menu-item > * {
  padding: 0 16px 0 0;
  box-sizing: border-box;
}

.menu-item__text {
  flex-grow: 1;
}

.menu-item__secondary {
  --text-opacity: 0.38;
  font-size: 0.9em;
}
