.progress {
  --elegance-progress-bar-colour: var(--elegance-primary-colour);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: .25rem;
  overflow: hidden;
  font-size: 0;
  background-color: rgba(24, 28, 33, 0.03);
  border-radius: 0;
}

.progress-bar {
  background-color: var(--elegance-progress-bar-colour);
  color: #fff;
}
