table {
  --el-table-border-color: rgb(var(--el-divider-color));
  --el-table-stripe-color: rgb(var(--el-lightest-color));
  border-collapse: collapse !important;
  background-color: transparent;
  width: 100%;
}

table th, table td {
  padding: .625rem;
}

table thead th {
  --text-opacity: 0.87;
  vertical-align: middle;
  border-bottom: 1px solid var(--el-table-border-color);
  font-weight: 500;
  text-align: inherit;
}

table.table-bordered {
  border: 1px solid var(--el-table-border-color);
}

table.table-bordered thead th {
  border-bottom-width: 2px;
}

table.table-bordered th, table.table-bordered td {
  border: 1px solid var(--el-table-border-color);
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--el-table-stripe-color);
}
